<!-- SECTION ITEM -->
<div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
    <!-- /Margin Collums (necessary for the timeline effect) -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
        <div class="line-content">
            <!-- Subtitle -->
            <h3 class="section-item-title-1">Code Skills</h3>
            <!-- /Subtitle -->
            <!-- content -->
            <ul class="skills-list">
                <!-- item-list -->
                {% for programming in site.data.programmingSkills %}
                    <li>
                        <div class="progress">
                            <div class="progress-bar" data-percent="{{ programming.percent }}"
                                role="progressbar" style="width: {{ programming.percent }};">
                                <span class="sr-only">{{ programming.name }}</span>
                            </div>
                            <span class="progress-type">{{ programming.name }}</span>
                            <span class="progress-completed">{{ programming.percent }}</span>
                        </div>
                    </li>
                {% endfor %}
                <!-- /item list -->
            </ul>
            <!-- /Content -->
        </div>
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- /Margin Collum-->
</div>
<!-- /SECTION ITEM -->